:root {
  --white-color: #ffffff;
  --background-color: var(--text-color);
  --main-color: aqua;
}

body {
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
  cursor: none;
  scroll-behavior: smooth;
}

.step a {
  text-decoration: none;
  color: black;
}
.step img {
  /* font-size: 20px;
   font-weight: 500; 
  letter-spacing: 7px;
  padding: 1%;*/
  margin: 60px 50px;
  height: 40px;
}

/* .water {
  font-weight: 900;
  font-style: italic;
  font-size: 10vw;
} */

.container {
  height: 100vh;
  padding: 50px;
}
.title {
  font-size: 8em;
  line-height: 1.3em;
  position: relative;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: var(--main-color);
}

.reduce {
  transform: translate(0, -5%);
}
.project {
  transform: translate(0, 160%);
}

.content {
  position: relative;
}

.content h2 {
  color: aqua;
  position: absolute;
  transform: translate(0, -90%);
  font-size: 9em;
  font-weight: bolder;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px aqua;
}
.content h2:nth-child(2) {
  color: aqua;
  animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
  50% {
    clip-path: polygon(
      0% 43%,
      7% 33%,
      17% 31%,
      24% 34%,
      31% 38%,
      38% 40%,
      41% 40%,
      46% 33%,
      52% 29%,
      61% 28%,
      70% 29%,
      71% 33%,
      74% 37%,
      82% 40%,
      88% 37%,
      96% 35%,
      98% 35%,
      100% 35%,
      100% 98%,
      100% 100%,
      0 100%
    );
  }

  0%,
  100% {
    clip-path: polygon(
      0 20%,
      7% 33%,
      17% 33%,
      24% 36%,
      31% 28%,
      38% 23%,
      44% 25%,
      53% 32%,
      60% 40%,
      82% 40%,
      88% 32%,
      85% 31%,
      100% 28%,
      100% 98%,
      100% 100%,
      0 100%
    );
  }
}

.content_print {
  position: relative;
}

.content_print h2 {
  color: aqua;
  position: absolute;
  transform: translate();
  font-size: 9em;
  font-weight: bolder;
}

.content_print h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px aqua;
}
.content_print h2:nth-child(2) {
  color: aqua;
  animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
  50% {
    clip-path: polygon(
      0% 57%,
      20% 56%,
      39% 49%,
      53% 37%,
      73% 35%,
      88% 38%,
      99% 47%,
      100% 99%,
      0% 100%
    );
  }

  0%,
  100% {
    clip-path: polygon(
      0 57%,
      20% 41%,
      38% 40%,
      57% 45%,
      73% 57%,
      90% 61%,
      99% 47%,
      100% 99%,
      0% 100%
    );
  }
}

/* .water:hover {
  color: var(--hover-color);
} */

/* .step img:hover {
  filter: invert(90%) sepia(52%) saturate(4421%) hue-rotate(98deg)
    brightness(108%) contrast(100%);
} */

/* .main_title {
 
  height: 98vh;
  font-weight: 500;
  font-size: 10vw;
  line-height: 120%;
  letter-spacing: 0.1vw;
  margin: 50px 50px;
} */

.interested {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: black;
  padding-top: 90px;
  color: var(--white-color);
  font-size: 7vw;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
}

.cursor {
  background: var(--white-color);
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  color: black;
  /* z-index: 1000; */
  font-weight: 700;
  line-height: 300px;
  font-style: italic;
  font-size: 7vw;
  mix-blend-mode: difference;
  animation: shake 0.8s ease-in-out infinite;
}

@keyframes shake {
  0% {
    /* transform: translate(0); */
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.1em);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2em);
  }
  70%,
  100% {
    /* transform: 0; */
  }
}

@media screen and (max-width: 600px) {
  /* .step {
    font-size: 13px;
    letter-spacing: 3px;
    padding: 1%;
    margin: 30px 50px;
    font-weight: 500;
  } */
  .step img {
    margin: 60px 50px;
    height: 30px;
  }

  .cursor {
    height: 200px;
    width: 200px;
    line-height: 200px;
  }
}
