* {
  text-decoration: none;
  user-select: none;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
}

.gallery-section {
  width: 100%;
  margin: 100px;
  padding: 10px 0;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
}

/* 타이틀 */
.gallery-section h1 {
  text-align: left;
  
  padding-left: 135px;
  font-size: 55pt; 

  background-color: (255, 255, 255, 0.1);
  margin-top:100px;
  margin-bottom: 40px;

}


#subtitle {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 18px;
  text-align: left;
  padding-left: 135px;
  padding-bottom: 80px;
 
}


.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap;
  margin:40px;
  /*영역 내 여러 줄 배치*/
}
.mission {
  font-family: "Noto Sans KR", sans-serif;
  text-align:center;
  font-size: 17px;
  color: rgb(0, 0, 0);
 padding:30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mission_part{
  margin:30px 0;
}

.checkbox {
  opacity: 0.9;
  -moz-opacity: 0.9;
  z-index: 1000;
  cursor: pointer;
  justify-content: center;
  text-align: center;

  
}
.checkbox + input[type="checkbox"]:checked {
  z-index: -1000;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px;
  overflow: hidden;

  /* cursor: pointer; */
}

.gallery-section .iamge_img {
  display: block;
  width: 200px;
  height: 200px;
  max-width: 100%;
  height: auto;
  border: 2px solid rgb(110, 244, 248);

  transform:image(1); 
  transition:transform 0.5s 
  linear;}


.image_comment {
  font-size: 14px;
  font-weight: 500;
  white-space: wrap;
  color: "f###";
  opacity: 1;
  cursor: pointer;

}

@media screen and (max-width: 1200px) {
  gallery-section .image {
    width: 25%;
  }
}

@media screen and (max-width: 960px) {
  .gallery-section .image {
    flex: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .gallery-section .image {
    flex: 50%;
  }
}

@media screen and (max-width: 480px) {
  .gallery-section .image {
    flex: 100%;
  }
}

.image_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  background: rgba(44, 46, 46, 0.822);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s;
}

/* .image_overlay > * {
  transform: translateY(10px);
  transition: transform 0.4s;
}
 */
.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  /* transform: translateY(0); */
  transform:scale(1.2);             /*  default */
  -webkit-transform:scale(1.2);     /*  크롬 */
  -moz-transform:scale(1.2);       /* FireFox */
  -o-transform:scale(1.2);           /* Opera */
}



/*선택 완료 버튼*/

#open {
  width: 100px;
  height: 30px;
  color: rgb(31, 28, 28);
  position: absolute;
  left: 700px;

  background: rgb(86, 239, 250);
  font-size: 14px bold;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(40, 103, 238, 0.76);
  transition: 0.3s;
  transform: translate(-50%, -50%);
}
#open:focus {
  outline: 0;
}
#open:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(60, 60, 63, 0.623);
}

/* 모달 팝업창 효과 */
#modal_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
 
}

.border {
  width: 200px;
  height: 0.5px;
  background: rgb(116, 111, 111);
  margin: 0px auto;

}

#result{
    font-size:14px;
    font-weight: 530;
   
    color:rgb(0, 0, 0);
    text-align: left;
    padding-left: 50px;
}

#b1,
#b2,
#b3,
#b4 {
  
  all: unset;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  /* left:40px; */

}

#close {
  color: rgb(179, 173, 173);
  border:0.5px solid rgb(179, 173, 173);
  position: relative;
  left:260px;
  cursor: pointer;
  margin:10px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal_content {
  background: linear-gradient(180deg, #cae8ee, #ffffff);
  padding: 5px 5px;
  position: relative;
  width: 300px;
  height: 380px;
  top: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 3px 3px #999;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;

}

.hidden {
  display: none;
}


#sns {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
  font-weight:600;
}

#snsicon{
    width:40px;
    height:40px;
   position: relative;
   text-align: center;
   
}
