* {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.fa-tint {
  color: aqua;
}

.index {
  width: 90vw;
  /*  height: 30%; */
  /* z-index: 5; */
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  top: 0;
  left: 0;
  right: 0;
  /* 사파리 sticky */
  /* position: -webkit-sticky;
  position: sticky; */
  position: fixed;
  padding: 20px 40px;
}

.index img {
  /* padding을 넣으면 마진보다 넓은 영역으로 선택이 가능함 (blank부분) */
  height: 30px;
}

.index_menu {
  display: none;
  background-color: rgb(255, 255, 255, 0.7);
  /* margin-right: 20px;*/
  padding-left: 20px;
  padding-right: 20px;
}

.index_menu a:hover {
  color: aqua;
}

.index_menu li {
  /* z-index: 4; */
  display: block;
  font-weight: bolder;
  width: 160px;
  text-align: end;
  padding: 10px;
  font-size: 22px;
  margin: 8px;
}
.index_menu.active {
  display: block;
  right: 50px;
  color: black;
  /* margin-right: 40px; */
  position: fixed;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 73px;
}

.definition {
  margin: 10% 10%;
  font-weight: bolder;
  font-size: 100px;
}

p {
  text-indent: 30px;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
/* 비디오 반응형 */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*  */
#cursor {
  width: 50px;
  height: 50px;
  /* background-color: white; */
  /* background-color: white; */
  border: 2px dotted black;
  box-sizing: border-box;
  transition: 0.1s ease;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: auto;
  /* mix-blend-mode: difference; */
}

@media screen and (max-width: 800px) {
  .definition {
    font-size: 10vw;
  }
}
